<!-- Custom navbar for zainrizvi.io style -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="site-header-inside" style="padding: 0 40px;">
            <!-- Brand and toggle -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="site-branding">
                    <h1 class="site-title"><a class="navbar-brand" href="{{ "/" | relLangURL }}" style="font-size: 1.5em;">{{ .Site.Title }}</a></h1>
                </div>
            </div>

            <!-- Nav links -->
            <div id="huxblog_navbar">
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu-item current-menu-item"><a href="{{ "/" | relLangURL }}">Start Here</a></li>
                        <li class="menu-item"><a href="{{ "/" | relLangURL }}blog/">Essays</a></li>
                        <li class="menu-item"><a href="{{ "/" | relLangURL }}newsletter/">Newsletter</a></li>
                        <li class="menu-item"><a href="https://zainrizvi.gumroad.com/l/insider-advice-on-how-you-can-pass-faang-interviews/site_header">Insider's Guide to Passing FAANG Interviews</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
