{{ define "main" }}
<main class="site-main">
    <div class="site-content">
        <div class="inner-wide">
            <div class="post-grid">
                {{ range .Pages.ByPublishDate.Reverse }}
                <article class="grid-item tag-{{ .Title | urlize }}">
                    <header class="post-header">
                        <div class="post-tags">
                            {{ range .Params.tags }}
                            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" rel="tag">{{ . }}</a>
                            {{ end }}
                        </div>
                        <h2 class="post-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h2>
                    </header>
                    <div class="post-content">
                        <p class="post-excerpt dots">{{ .Content | plainify | truncate 200 "..." }}</p>
                        <p class="read-more"><a class="button light" href="{{ .Permalink }}" title="{{ .Title }}">Read More</a></p>
                    </div>
                </article>
                {{ end }}
            </div>

            <nav class="pagination">
                <span class="page-number">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
                {{ if .Paginator.HasNext }}
                <a class="older-posts square" href="{{ .Paginator.Next.URL }}"><span class="screen-reader-text">Older Posts</span><span class="icon-angle-right" aria-hidden="true"></span></a>
                {{ end }}
                {{ if .Paginator.HasPrev }}
                <a class="newer-posts square" href="{{ .Paginator.Prev.URL }}"><span class="screen-reader-text">Newer Posts</span><span class="icon-angle-left" aria-hidden="true"></span></a>
                {{ end }}
            </nav>
        </div>
    </div>
</main>
{{ end }}